.biografia {
  height: 100%;
  width: 100%;
}

.infoContainer {
  display: flex;
  width: fit-content;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0px;
  pointer-events: none;
}

.fotoContainer {
  padding-top: 10px;
}

.foto {
  border-radius: 10px;
  width: 700px;
  height: 550px;
}

.infoBiografia {
  padding: 5px;
  margin-left: 30px;
}

.nameContainer {
  margin-bottom: 20px;
}

.nameContainer h2 {
  font-size: 4rem;
  font-weight: 100;
}

.nameContainer p {
  margin-top: 10px;
  font-size: 1.5rem;
}

.textoParteDerecha {
  text-align: justify;
  font-size: 2rem;
  font-weight: 90;
}

.textoParteDerecha p {
  margin-bottom: 10px;
}
.textoDebajoFoto {
  text-align: justify;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

.textoDebajoFoto p {
  padding-bottom: 10px;
}

/*Media queries*/

@media (max-width: 767px) {
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 0px; /* Reducido el margen */
  }

  .fotoContainer {
    margin-bottom: 10px; /* Reducido el margen inferior */
  }

  .foto {
    width: 100%; /* Establecido el ancho al 100% para que sea responsivo */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    max-width: 1000px; /* Establecido un ancho máximo para la imagen */
  }

  .nameContainer {
    margin-bottom: 10px; /* Reducido el margen inferior */
    text-align: center; /* Centrado el texto */
  }

  .nameContainer h2 {
    font-size: 5rem; /* Reducido el tamaño de la fuente */
    font-weight: 100;
  }

  .nameContainer p {
    font-size: 1.6rem; /* Reducido el tamaño de la fuente */
    padding-bottom: 10px; /* Tamaño de fuente más pequeño para el párrafo */
  }
  .infoBiografia {
    margin: 0px;
  }

  .textoParteDerecha p {
    margin-bottom: 5px; /* Reducido el margen inferior */
    font-size: 1.8rem; /* Reducido el tamaño de la fuente */
    font-weight: 100;
    color: black;
  }

  .textoDebajoFoto {
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem; /* Reducido el tamaño de la fuente */
    font-weight: 100;
    margin: 0px 20px; /* Reducido el margen lateral */
    max-width: 100%; /* Establecido el ancho máximo para que sea responsivo */
  }
}
