.colibriesContainer h1 {
  color: black;
}

.colibries {
  width: full;
  height: full;
}

@media (max-width: 768px) {
  .colibries {
    width: 1090px;
  }
  .colibriesContainer h1 {
    font-size: 20rem;
    margin-top: 100px;
  }
}
