.formulario {
  margin: 20px;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedorinputs {
  background-color: #beeee7;
  padding: 50px;
  margin: 0px 50px 0px;
  border-radius: 20px;
}
.titleContainer h1 {
  font-size: 8rem;
  font-weight: 100;
  color: black;
}
.colibristicker {
  display: none;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.inputs h1 {
  font-size: 1rem;
  font-weight: 100;
}

.inputs div {
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin: 20px;
}

.inputs label {
  font-size: 3rem;
  margin-right: 20px;
  font-weight: 100;
}

.inputs input,
.inputs select,
.inputs textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 300px;
}

.inputs textarea {
  height: 150px;
  width: 500px;
}

.errors {
  color: rgb(106, 9, 9);
}

.colibri {
  width: 500px;
  height: 600px;
  border-radius: 20px;
  margin-right: 100px;
  pointer-events: none;
}

.button {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: #66b3a78a;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
  background: #84e0d28a;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

button:disabled {
  cursor: auto;
  color: grey;
}

@media (max-width: 768px) {
  .colibri {
    display: none;
  }
  .titleContainer {
    font-size: 11rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .colibristicker {
    display: flex;
    width: 200px;
  }

  .formulario {
    width: 1040px;
    margin-left: 40px;
    margin-top: 100px;
  }
  .inputs label {
    font-size: 7.5rem;
  }

  .inputs textarea {
    height: 200px;
    width: 600px;
  }
  .inputs input,
  .inputs select,
  .inputs textarea {
    font-size: 2rem;
    width: 100%;
    padding: 20px;
  }
  .inputs div {
    margin: 40px;
  }
  .errors {
    font-size: 3.5rem;
  }
  .button {
    width: 10em;
    height: 2em;
    font-size: 3rem;
    margin-top: 100px;
  }
}
