.name {
  color: black;
  margin-top: 50px;
}

.description {
  font-size: 2rem;
  font-weight: 100;
}

@media (max-width: 768px) {
  .DetailColeccion {
    width: 1090px;
  }
  .name {
    font-size: 20rem;
    margin-top: 100px;
  }
  p {
    margin: 20px;
  }
  .description {
    font-size: 4rem;
    font-weight: 100;
  }
}
