.detalle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 50px 0px;
  pointer-events: none;
}

.detalle img {
  width: 500px;
  margin: 20px;
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.219);
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 70px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.info h1 {
  color: whitesmoke;
  font-size: 7rem;
  font-weight: 100;
}

.coleccion {
  font-size: 2.4rem;
  margin-bottom: 30px;
  color: rgb(194, 190, 190);
  font-weight: 100;
}
.fichaTecnica {
  font-weight: 100;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .detalle {
    flex-direction: column;
    width: 100%;
    margin: 0px;
    align-items: center;
    padding: 10px;
  }

  .detalle img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
  }

  .info {
    width: fit-content;
    padding: 20px;
    text-align: center;
    margin: 0px 10px 20px;
  }

  .info h1 {
    font-size: 5rem;
    margin-top: 10px;
  }

  .coleccion {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .fichaTecnica {
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 5px;
  }
}
