.homeContainer {
  width: 100%;
  height: 100%;
}
.home h1 {
  color: whitesmoke;
  font-weight: 100;
  margin-top: 50px;
}

button {
  appearance: button;
  background-color: #00000041;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;

  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:after {
  background-clip: padding-box;
  background-color: #00000055;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}

button:active:after {
  border-width: 0 0 0px;
}

button:active {
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .home {
    text-align: center;
    margin: 50px auto; /* Centra y ajusta el margen */
  }

  .home h1 {
    font-size: 4rem; /* Tamaño de fuente ajustado para pantallas más pequeñas */
    margin-bottom: 20px;
  }

  .button {
    font-size: 1rem;
    width: 200px;
    margin-top: 30px;
  }
}
