.landing {
  height: 100vh;
  background-image: url("../../assets/landing.jpeg");
  background-position: auto center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.landingContainer {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

h1 {
  color: white;
  font-size: 100px;
  text-align: center;
}

.landing h2 {
  color: white;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
}
button {
  appearance: button;
  background-color: #00000041;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;

  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px;
}

button:after {
  background-clip: padding-box;
  background-color: #00000055;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1);
}

button:disabled {
  cursor: auto;
}

button:active:after {
  border-width: 0 0 0px;
}

button:active {
  padding-bottom: 10px;
}

/*Media queries*/

@media (max-width: 768px) {
  .landing {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .landingContainer {
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  h1 {
    font-size: 30px;
  }
  .landing h2 {
    font-size: 20px;
    margin-top: 20px;
  }

  .button {
    width: fit-content;
  }
}
