.burguerNav {
  height: fit-content;
  width: fit-content;
  display: flex;
  margin-top: 9vh;
  justify-content: space-around;
  padding: 10px;
  background-image: url("../../assets/navBar.png");
  top: 0;
  right: 0;
  z-index: 9999;
  border-radius: 5px;
}

.linkList {
  list-style: none;
  padding: 10px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

/*Media queries*/
@media (min-width: 769px) {
  .burguerNav {
    display: none;
  }
}
