.cardsColibries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 100px 50px;
}

@media (max-width: 768px) {
  .cardsColibries {
    margin-top: 0px;
    justify-content: center;
  }
}
