.link {
  text-decoration: none;
  color: black;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: #58b4a692;
  border-radius: 20px;
  margin: 20px;
  padding-bottom: 20px;
  align-self: flex-start;
  pointer-events: none;
}

.image {
  width: 350px;
  margin: 10px;
  border-radius: 20px;
}

.name {
  font-weight: 100;
  font-size: 2rem;
}
