.link {
  text-decoration: none;
  color: whitesmoke;
}
.CardColeccion {
  background-color: rgba(0, 0, 0, 0.219);
  display: flex;
  width: fit-content;
  height: 300px;
  flex-direction: row;
  margin: 100px 50px 100px;
  border-radius: 50px;
  pointer-events: none;
}

.image {
  border-radius: 10px;
  margin: 30px 50px 30px;
}

.info {
  margin-top: 50px;
  margin-right: 50px;
}

.name {
  font-size: 4rem;
  font-weight: 100;
  text-align: left;
}

.description {
  font-size: 2rem;
  font-weight: 100;
  text-align: left;
}

@media (max-width: 768px) {
  .CardColeccion {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }
  .name {
    font-size: 2rem;
    font-weight: 100;
    text-align: left;
  }
  .image {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .info {
    margin: 10px;
    padding: 10px;
  }
  .description {
    font-size: 0.8rem;
    margin: 0px;
  }
}
