.navBar {
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 20px;
  background-image: url("../../assets/navBar.png");
  width: 100%;
}

.logo {
  margin-left: 2rem;
  padding: 8px;
}

.buttons {
  display: flex;
  gap: 10px;
  padding: 3px;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin: 5px 20px 7px;
  margin-right: 1rem;
}

.button {
  border: none;
  padding: 8px;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.hamburgerMenuButton {
  font-size: 2rem; /* Ajusta el tamaño del icono del menú hamburguesa según tus necesidades */
  color: white;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  justify-items: center;
}

/*Media queries*/
@media (max-width: 768px) {
  .navBar {
    height: 8vh; /* Reducido la altura */
    padding: 12px; /* Ajustado el relleno */
    width: 100%;
  }
  .logo {
    margin-left: 1rem;
    font-size: 1.2rem; /* Reducido el tamaño de la fuente */
  }
  .buttons {
    display: none;
  }
  .hamburgerMenuButton {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .hamburgerMenuButton {
    display: none;
  }

  .buttons {
    display: flex;
  }
}
